<dl class="dl-horizontal">
    <dt>Course Name</dt>
    <dd>{{course?.courseName}}</dd>
    <dt>Course Date</dt>
    <dd>{{course?.date}}</dd>
    <dt>Course Description</dt>
    <dd>{{course?.courseDescription}}</dd>
  </dl>
  <button class="btn btn-danger" (click)="deleteCourse()">Delete Course</button>
  <div class="d-flex justify-content-between">
      <div>
          <p>Attendees</p>
      </div>
      <div>
         <button class="btn btn-success" (click)="createNewAttendee()">Create New</button>
      </div>
  </div>
  <ng-container *ngIf="toggle">
      <br/>
      <br/>
          <form class="form-inline" #createAttendee="ngForm" (ngSubmit)="submitNewAttendee(createAttendee.value)">
              <div class="form-group mb-2">
                  <label for="attendeeName">Attendee Name:</label>
                  <input type="text" class="form-control" name="attendeeName" ngModel>
              </div>
              <button type="submit" class="btn btn-primary mb-2">Submit</button>
          </form>
      </ng-container>
  <hr/>
  <ul>
    <li *ngFor="let attendees of course?.attendees">
      {{attendees}} <button class="btn btn-sm btn-danger" (click)="removeAttendee(attendees)">Remove</button>
    </li>
  </ul>